<!doctype html>
%html{:lang => "en"} 
%head 
  %meta{:charset => "UTF-8"}/ 
  %title Word Tally - Count your words in seconds.
  %link{:rel => "stylesheet", :href => "/css/style.css"}/ 
%body

  .container
    .row
      .span12.text-center
        %h1 Word Tally!
        %h5 COUNT ME IN.
      .span6.text-center
        %form{action: "/", method:"POST"}
          %textarea{name: "text", placeholder: "Copy and paste text here."}
          %input{type: "submit", value: "Submit"}
      .span6.text-center
        - if @results.any?
          %h2= @sample_text_title
          %table#result{border: "1"}
            %tr
              %th Words
              %th Count
            - @results.each do |result|
              %tr
                %td= result.word
                %td= result.count
      = @debug

  %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
  %script{src: "/bootstrap.js"}
