<!doctype html>
%html{:lang => "en"} 
%head 
  %meta{:charset => "UTF-8"}/ 
  %title Word Tally - Count your words in seconds.
  %link{:rel => "stylesheet", :href => "/css/style.css"}/ 
%body

  .container
    .row
      .span12
        .header
          %h1#logo Word Tally
          %h4#sublogo COUNT ME IN   
      .span6
        %form{action: "/", method:"POST"}
          %textarea.giant-form{name: "text", placeholder: "Copy and paste text here."}
          %input.btn.btn-large{type: "submit", value: "Count it now!"}
        .docs  
          %h1 Lorem Ipsum
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin facilisis lacinia metus adipiscing condimentum. Phasellus tempus eget turpis non pulvinar. Praesent ullamcorper orci at adipiscing faucibus. Donec neque nisl, tincidunt quis turpis suscipit, fermentum sollicitudin leo. Vivamus posuere nibh semper mauris sollicitudin posuere quis in sapien. Nunc auctor vitae massa sed rutrum. Aliquam in mi diam. Praesent pellentesque ligula tellus, et tempor enim egestas quis. Donec a cursus nibh. Nullam molestie ullamcorper nunc a varius. Donec scelerisque orci quis ornare rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eget mattis dui, eget dapibus leo. Praesent et metus in nisi lobortis dictum sit amet sed nunc.

      .span6.text-center
        - if @results.any?
          %p= @sample_text_title
          %ul#result
            - @results.each do |result|
              %li 
                .word
                  %p= result.word
                %h3.count= result.count
      -# = @debug

  %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
  %script{src: "js/bootstrap.js"}
  :javascript
    $(window).scroll(function() {
      if ($(window).scrollTop() > 540){
        $('.docs').addClass('fixed');
      }
      else{
        $('.docs').removeClass('fixed'); 
      }

    });
